html {
    background-color: #8a9c8f;
}

body {
    color:black;
}

div.grid-main {
    display: grid;
}
div.topper {
    display: grid;
    background-color: bisque;
    grid-gap: 10px;
    border-radius: 25px;
}

div.topper img {
    margin:auto;
    padding-top: 10px;
    width: 100px;
    height: auto;
    border:0;
}

div.topper a{
    text-align: center;
    font-size:x-large;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    border-bottom: 1px solid black;
}

.list-end {
    border-top: 1px solid black;
    font-style:italic;
    font-size: small;
}

ul li {
    font-size:xx-large;
}

ul li a {
    color:aliceblue;
}

div.width-limit {
    width: 500px;
    margin: auto;
  }

  div.width-limit-2 {
    width: 500px;
    margin: auto;
  }

div.foot-1 {
    color: black;
    text-align: center;
}

div.foot-2 {
    color: rgb(18, 110, 30);
    text-align: center;
    font-size: small;
}

footer {
    width: 500px;
    margin: auto;
    display: grid;
    background-color: bisque;
    border-radius: 25px;
}