:root {
  --text-color: black;
  --background-color: #1215b6;
  --hover-background-color: #252fbc;
  --hover-color: black;
}


#hero {
    position: relative;
    min-height: 500px;
    width: 100%;
}

#hero button {
    position: absolute;
    top: 50px;
    left: 50px;
}

#hero img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#hero picture {
    position: absolute;
    width: 100%;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    width: 100%;
    background-color: black;
}

nav ul a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color:white;
}

nav ul a:hover {
    background-color: rgb(64, 52, 236);
    color: black;
}

#footerContainer {
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

#lastUpdated {
    display: flex;
}



/* for hamburger menu */
@media screen and (max-width: 600px) {

#hamburger {
    display: none;
  }

  .icon {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
  }

  .icon::before {
    content: "\2630"; /* HTML entity for the three-line icon */
    font-size: 40px;
    color: rgb(5, 5, 5);
  }

  /* Style the nav element and the ul li list */
  #hamnav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background: black;
    color: white;
    transition: transform 0.5s ease-in-out; /* Sliding animation */
    z-index: 9;
  }

  #hamnav.active {
    transform: translateX(100%); /* Move the menu to the right when active */
  }

  #hamnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #hamnav ul li {
    padding: 20px;
  }

  #hamnav ul li a {
    text-decoration: none;
    color: white;
  }
}
  /* Hide the checkbox and label elements when the screen width is above 600 px */
  @media screen and (min-width: 600px) {
   input#hamburger, .icon {
      display: none;
    }
  }

  #home-main section {
    text-align: center;
    border: 2px solid rgb(28, 62, 216);
    box-shadow: 10px 5px 5px var(--hover-background-color);
    margin: 1rem;
}

#home-main section p{
  padding: .5rem;
}
  