@media screen and (min-width: 1200px) {
    nav ul {
        flex-direction: row;
    }

    #spotlights {
        grid-column: 1/3;
        display: flex;
    }

    .spotlight-card{
        flex: 1;
    }
}