:root {
  --text-color: black;
  --background-color: #1215b6;
  --hover-background-color: #252fbc;
  --hover-color: black;
}


body {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    min-width: 350px;
    margin: 0 auto;
    padding: 0;
  }


/****************HEADER ***************/

header {
  background-color: #F0B200;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 0 0 auto; 
}

.logo img{
  height: auto;
  max-width: 154px;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.nav-links a {
  color: #56070D;
  text-decoration: none;
  font-size: 1.5em;
}

.burger-menu {
  font-size: 2.5em;
  cursor: pointer;
  display: none;
  margin: 8px 0;
}

.burger-menu > div {
  margin: 10px 0;
  text-align: center;
}


nav a:hover {
  background-color: rgb(236, 217, 52);
  color: black;
}

@media screen and (max-width: 600px) {
  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: lightblue;
      text-align: center;
  }

  .nav-links.show {
      display: flex;
      margin-top: 120px;
  }

  .burger-menu {
      display: block;
      margin-top: 10px;
  }
}


/*****************MAIN SPLASH/CTA *****************/

.hero button {
  position: absolute;
  top: 250px;
  left: 50px;
}

.hero img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.order-button {
  position: absolute;
  bottom: 65%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ADCB68;
  color: white;
  padding: 15px 30px;
  font-size: 1.5em;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/****************BODY STUFF *********************/

.summary {
  background-color: #B4D949;
  width: 55%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.tri-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}

.card {
  width: 30%;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  text-align: center;
}

@media screen and (max-width: 600px) {
  .card {
      width: 100%; /* Full width for smaller screens */
  }
}

/* FOOTER ******************************/
footer {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    color: black;
    padding: 10px;
    text-align: center;
}

footer .social-media{
  grid-column: 1/2;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .social-media a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

footer .contact-info {
  grid-column: 2/3;
  border: 1px solid black;
}

.contact-info p {
  margin: 10px 0 0 10px;
}

footer .attribution {
  grid-column: 3/4;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .last-modified {
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  footer {
      display: block;
  }

  .social-media,
  .contact-info,
  .attribution,
  .last-modified {
    border: 1px solid black;
    margin-bottom: 10px;
}

}